.card {
  width: 250px;
  margin: auto;
}

.card:hover .card-image img {
  width: 120%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);

  transition-property: filter width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card-body {
  text-align: center;
  box-sizing: border-box;
}

.card-title {
  color: #fdd90b;
}

p {
  columns: #151217;
}

.d-flex {
  justify-content: center;
}

.price {
  color: #da001e;
}

button {
  background-color: #fdd90b;
  border-radius: 20px;
}

button:hover {
  background-color: #f9d0a3;
  transform: scale(0.96);
}
