<!-- Insérer un bouton dépliable pour permettre le tri coissant/décroissant (idk : en utilisant les pipes ainsi que) la fonction sort -->
<!-- Insérer un outil de recherche par nom en utilisant un pipe -->
<!-- Utiliser un service pour la page produit -->
<!-- Dans la page produit il y a également img, titre, description, prix -->

<div class="card">
  <div *ngFor="let card of cards">
    <div class="card-image">
      <img src="{{ src }}" alt="{{ alt }}" />
    </div>

    <div class="card-body">
      <div class="card-title">
        <h3>{{ card.title }}</h3>
      </div>
      <div class="card-content">
        <p>{{ description }}</p>
        <p>{{ card.price }}</p>
      </div>
      <div class="card-btn">
        <button>Voir l'article</button>
      </div>
    </div>
  </div>
</div>
