.card {
  width: 400px;
  margin: auto;
}
.card a {
  color: #333;
  text-decoration: none;
}
.card:hover .card-image img {
  width: 120%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);

  transition-property: filter width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card-body {
  text-align: center;
  box-sizing: border-box;
}

.card-title {
  text-transform: uppercase;
}

p {
  font-style: italic;
}

/* button {
  background-color: #f9d0a3;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

button:hover {
  background-color: #fdd90b;
  transform: scale(0.96);
} */
