<header class="header">
  <app-header></app-header>
</header>

<main>
  <div class="container-fluide bg-light shadow text-center m-3">
    <div class="row">
      <h3 class="text-uppercase">Me contacter</h3>
      <p>Pour me contacter :</p>
    </div>
    <div class="row">
      <div>
        <h4>Mes coordonnées</h4>
        <p>40 Rue Laure Diebold, 69009 Lyon</p>
        <p>06 20 30 40 50</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d61176.14048911527!2d4.761411618263803!3d45.774167070880836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eb65edac5b3f%3A0xe01c47049cb2e2b9!2s40%20Rue%20Laure%20Diebold%2C%2069009%20Lyon!5e0!3m2!1sfr!2sfr!4v1711840674289!5m2!1sfr!2sfr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</main>

<footer class="footer">
  <app-footer></app-footer>
</footer>
