<header class="header">
  <app-header></app-header>
</header>

<main class="main">
  <h1>{{ title }}</h1>

  <div>
    <h2>L'Idée Gauloise</h2>
    <p>
      Dans le paisible village d'un petit coin de la Gaule, un jeune Gaulois du
      nom de Jules rêvait de créer quelque chose de grand, quelque chose qui
      capturerait l'esprit de la résistance gauloise. Passionné par les
      aventures d'Astérix et Obélix depuis son enfance, Jules avait une idée
      brillante : créer des figurines à l'image de ces héros légendaires.
    </p>

    <h2>La Quête des Compétences</h2>
    <p>
      Déterminé à faire de son rêve une réalité, Jules parcourut le pays à la
      recherche des meilleurs artisans gaulois. Il trouva le sculpteur le plus
      talentueux, César, qui pouvait donner vie à Astérix et Obélix avec une
      précision incroyable. Il rencontra aussi la potière Pénélope, qui pourrait
      fabriquer les moules nécessaires pour reproduire les figurines en série.
    </p>

    <h2>Le Défi de la Fabrication</h2>
    <p>
      Avec son équipe d'artisans talentueux réunis, Jules se lança dans le défi
      de la fabrication des figurines. Chaque détail, du casque ailé d'Astérix à
      la massue d'Obélix, était minutieusement sculpté et façonné à la main. Les
      premiers prototypes étaient impressionnants, mais Jules voulait s'assurer
      que chaque figurine capturait parfaitement l'esprit des personnages.
    </p>

    <br />

    <p>
      Ainsi naquit "Au Petit Village", une entreprise qui célébrait l'esprit
      indomptable des Gaulois à travers des figurines magnifiques et
      authentiques. Jules et son équipe avaient réussi à capturer l'éclat de
      l'aventure d'Astérix et Obélix pour le plus grand plaisir de tous. Et dans
      tout le pays, on racontait l'histoire de la création de cette entreprise
      avec admiration et fierté.
    </p>
  </div>
</main>

<footer class="footer">
  <app-footer></app-footer>
</footer>
