.title {
  border-bottom: solid 2px #da001e;
}

.price {
  border-bottom: solid 2px #da001e;
}

button {
  color: #151217;
  background-color: #fdd90b;
}

@media (min-width: 480px) and (max-width: 768px) {
  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
