<header class="header">
  <app-header></app-header>
</header>

<main class="main">
  <div class="content">
    <div>
      <p>
        “Au petit village” est une entreprise qui confectionne des figurines
        inspirées de la bande dessinée Astérix et Obélix.
      </p>
    </div>
    <div class="sort">
      <p>Trier :</p>
      <select>
        <option value="par ordre croissant">par ordre croissant</option>
        <option value="par ordre décroissant">par ordre décroissant</option>
      </select>
    </div>

    <div class="galerie">
      <app-card title="Titre de la carte 1"></app-card>
    </div>
  </div>
</main>

<footer class="footer">
  <app-footer></app-footer>
</footer>
