<header class="header">
  <app-header></app-header>
</header>

<main class="main">
  <div class="content">
    <div>
      <p>
        “Au petit village” est une entreprise qui confectionne des figurines
        inspirées de la bande dessinée Astérix et Obélix.
      </p>
    </div>
    <div class="galerie">
      <app-card title="Titre de la carte 1"></app-card>
      <app-card title="Titre de la carte 2"></app-card>
      <app-card title="Titre de la carte 3"></app-card>
      <app-card title="Titre de la carte 4"></app-card>
      <app-card title="Titre de la carte 5"></app-card>
      <app-card title="Titre de la carte 6"></app-card>
      <app-card title="Titre de la carte 7"></app-card>
      <app-card title="Titre de la carte 8"></app-card>
      <app-card title="Titre de la carte 9"></app-card>
      <app-card title="Titre de la carte 10"></app-card>
      <app-card title="Titre de la carte 11"></app-card>
      <app-card title="Titre de la carte 12"></app-card>
    </div>
  </div>
</main>

<footer class="footer">
  <app-footer></app-footer>
</footer>
